.header-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  text-align: center;
  border: 2px black solid;
  border-radius: 4px;
  display: none;
  visibility: hidden;
}

.header__localization-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  text-align: center;
  border: 2px black solid;
  border-radius: 4px;
  display: none;
  visibility: hidden;
}

.is-active{
  display: block;
  visibility: visible;
}



.modal-close-button{
position: absolute;
top: 0;
right: 0;
}
